<nav class="navigation">
    <div class="container">
        <div class="nav-menu">
            <a href="/WEB-Demo/index.html" class="nav-link">Home</a>
            <a href="/WEB-Demo/pages/applications.html" class="nav-link">Applications</a>
            <a href="/WEB-Demo/pages/announcements.html" class="nav-link">Announcements</a>
            <a href="/WEB-Demo/pages/system-status.html" class="nav-link">System Status</a>
            <a href="/WEB-Demo/pages/support.html" class="nav-link">IT Support</a>
            <a href="/WEB-Demo/pages/about.html" class="nav-link">About</a>
        </div>
    </div>
</nav>
