<nav class="navigation">
    <div class="container">
        <div class="nav-menu">
            
            <a href="/index.html" class="nav-link">Home</a>
            <a href="/applications.html" class="nav-link">Applications</a>
            <a href="/announcements.html" class="nav-link">Announcements</a>
            <a href="/system-status.html" class="nav-link">System Status</a>
            <a href="/support.html" class="nav-link">IT Support</a>
            <a href="/about.html" class="nav-link">About</a>
        </div>
    </div>
</nav>
